
.container-fluid {
    margin: 0 auto;
}


/* Filter Section */

.filter-section {
    cursor: pointer;
}
.sidebar-filter{
    border-top: 1px solid #e5e5e5
}

.filter-content {
    max-height: 180px;
    overflow-y: auto;
}

.product-sort-by {
    align-items: center;
    gap: 8px;
}

.product-sort-by label {
    white-space: nowrap;
    margin-bottom: 0;
}

/* Mobile Filter Button */
.mobile-filter-btn {
    display: none;
}

@media (max-width: 768px) {
    .container-fluid{
        padding-top:8px !important;
    }
    
    .mobile-filter-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        background: white;
        border: 1px solid #ddd;
        padding: 6px 10px;
        border-radius: 4px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 15px;
    }
    
    .filter-column {
        display: none;
    }

    .filter-column.show {
        display: block;
    }

    .product-sort-by {
        display: none !important;
    }
}